#ser{
    position: absolute;
    width: 50%;
    margin: 0 auto;
    font-family: Arial;
    font-size: 12px;
    left: 30%;
    top: 190px;

    >h2{
        margin-left: 40%;
    

}
}

#div1,#div2{
    display: flex;
    >a{
    height: 40px;
    width: 100px;
    background-color: aqua;
    }
}
